[submodule "modules/Biomass_regeneration"]
	path = modules/Biomass_regeneration
	url = git@github.com:PredictiveEcology/Biomass_regeneration.git
  	branch = master
[submodule "modules/scfm"]
	path = modules/scfm
	url = git@github.com:PredictiveEcology/scfm.git
  	branch = stable
[submodule "modules/caribouPopGrowthModel"]
	path = modules/caribouPopGrowthModel
	url = git@github.com:tati-micheletti/caribouPopGrowthModel.git
  	branch = master
[submodule "modules/birdsNWT"]
	path = modules/birdsNWT
	url = git@github.com:tati-micheletti/birdsNWT.git
	branch = master
[submodule "modules/caribouRSF"]
	path = modules/caribouRSF
	url = git@github.com:tati-micheletti/caribouRSF.git
	branch = master
[submodule "modules/gmcsDataPrep"]
	path = modules/gmcsDataPrep
	url = git@github.com:ianmseddy/gmcsDataPrep.git
	branch = master
[submodule "modules/PSP_Clean"]
	path = modules/PSP_Clean
	url = git@github.com:ianmseddy/PSP_Clean.git
	branch = master
[submodule "modules/LBMR2LCC_DataPrep"]
	path = modules/LBMR2LCC_DataPrep
	url = git@github.com:tati-micheletti/LBMR2LCC_DataPrep.git
	branch = master
[submodule "modules/fireSense"]
	path = modules/fireSense
	url = git@github.com:PredictiveEcology/fireSense.git
	branch = master
[submodule "modules/fireSense_IgnitionFit"]
	path = modules/fireSense_IgnitionFit
	url = git@github.com:PredictiveEcology/fireSense_IgnitionFit.git
	branch = master
[submodule "modules/fireSense_IgnitionPredict"]
	path = modules/fireSense_IgnitionPredict
	url = git@github.com:PredictiveEcology/fireSense_IgnitionPredict.git
	branch = master
[submodule "modules/fireSense_EscapeFit"]
	path = modules/fireSense_EscapeFit
	url = git@github.com:PredictiveEcology/fireSense_EscapeFit.git
	branch = master
[submodule "modules/fireSense_EscapePredict"]
	path = modules/fireSense_EscapePredict
	url = git@github.com:PredictiveEcology/fireSense_EscapePredict.git
	branch = master
[submodule "modules/fireSense_SpreadFit"]
	path = modules/fireSense_SpreadFit
	url = git@github.com:PredictiveEcology/fireSense_SpreadFit.git
	branch = master
[submodule "modules/fireSense_SpreadPredict"]
	path = modules/fireSense_SpreadPredict
	url = git@github.com:PredictiveEcology/fireSense_SpreadPredict.git
	branch = master
[submodule "modules/Biomass_core"]
	path = modules/Biomass_core
	url = git@github.com:PredictiveEcology/Biomass_core.git
	branch = master
[submodule "modules/Biomass_borealDataPrep"]
	path = modules/Biomass_borealDataPrep
	url = git@github.com:PredictiveEcology/Biomass_borealDataPrep.git
	branch = master
[submodule "modules/fireSense_SizePredict"]
	path = modules/fireSense_SizePredict
	url = git@github.com:PredictiveEcology/fireSense_SizePredict.git
	branch = master
[submodule "modules/priorityPlaces"]
	path = modules/priorityPlaces
	url = git@github.com:PredictiveEcology/priorityPlaces.git
	branch = master
[submodule "modules/priorityPlaces_DataPrep"]
	path = modules/priorityPlaces_DataPrep
	url = git@github.com:PredictiveEcology/priorityPlaces_DataPrep.git
	branch = master
[submodule "modules/fireSense_SizeFit"]
	path = modules/fireSense_SizeFit
	url = git@github.com:PredictiveEcology/fireSense_SizeFit.git
	branch = master
[submodule "modules/Biomass_speciesParameters"]
	path = modules/Biomass_speciesParameters
	url = git@github.com:PredictiveEcology/Biomass_speciesParameters.git
	branch = master
[submodule "modules/caribouCIP"]
	path = modules/caribouCIP
	url = git@github.com:tati-micheletti/caribouCIP.git
	branch = master
[submodule "modules/caribouIK"]
	path = modules/caribouIK
	url = git@github.com:tati-micheletti/caribouIK.git
	branch = master
