[submodule "modules/Biomass_regeneration"]
	path = modules/Biomass_regeneration
	url = git@github.com:PredictiveEcology/Biomass_regeneration.git
        branch = development
[submodule "modules/scfm"]
	path = modules/scfm
	url = git@github.com:PredictiveEcology/scfm.git
        branch = development
[submodule "modules/caribouPopGrowthModel"]
	path = modules/caribouPopGrowthModel
	url = git@github.com:tati-micheletti/caribouPopGrowthModel.git
        branch = master
[submodule "modules/birdsNWT"]
	path = modules/birdsNWT
	url = git@github.com:tati-micheletti/birdsNWT.git
	branch = master
[submodule "modules/caribouRSF"]
	path = modules/caribouRSF
	url = git@github.com:tati-micheletti/caribouRSF.git
[submodule "modules/gmcsDataPrep"]
	path = modules/gmcsDataPrep
	url = git@github.com:ianmseddy/gmcsDataPrep.git
[submodule "modules/PSP_Clean"]
	path = modules/PSP_Clean
	url = git@github.com:ianmseddy/PSP_Clean.git
	path = modules/comm_metricsNWT
	url = git@github.com:araymund83/comm_metricsNWT.git
[submodule "modules/LandR_speciesParameters"]
	path = modules/LandR_speciesParameters
	url = git@github.com:ianmseddy/LandR_speciesParameters.git
