.httr-oauth
.Rprofile
.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
.Rproj.user
tmp/
/tmp/
!/temp/
./cache/
./modules/LBMR/data/
./modules/waterlandClassification/data/
./modules/LandR_BiomassGMOrig/data/
./modules/Boreal_LBMRDataPrep/data/
./modules/Biomass_regeneration/data/
./modules/birdsNWT/data/models/
/modules/birdsNWT/data/
/outputs/
/modules/birdsNWT/data/models/*.R
/modules/waterlandClassification/data/
./inputs/
./outputs/
./inputs/*.*
inputs/*.zip
/inputs/*.zip
./inputs/*.zip
./outputs/*.*
!/inputs/BCR6.*
!/inputs/bcr6.*
!ModelStructure_2.jpg
!modules/Boreal_LBMRDataPrep/data/RTM.tif
*.gdbtable
*.zip
!CHEKCSUMS.txt
./modules/Boreal_LBMRDataPrep/data/*
*.grd
*.gri
*.tif
inputs/*.*
data/caribouCoefTable.csv
NationalModel
outputs/*.*
outputs/
inputs/
./outputs
./inputs
*.html
*.tex
*.log
!runMe_Updated_SamSteve.Rmd
!./outputs/19MAR19/averageBiomassHaV3_29MAR19.png
!Boreal_caribou_NT1_range_planning_regions_2018.jpg
!Units_for_ECCC_modeling_project_2019.jpg
!./outputs/28MAR19/RSFuncertainty_29MAR19.gif
!./outputs/28MAR19/RSF_29MAR19.gif
birdsNWTnoCS.rds
gadm36_CAN_1_sp.rds
./inputs/*.*
./*.asc
CCSM*
./CCS*
/inputs/CCSM*
testingCaribouIK/
testingCaribouCIP/
TMP/
inputs
*.qs
seed*
./libraryNWT
libraryNWT
libraryNWT*
fftw-3.3.3/

