[submodule "modules/LandR_BiomassGMOrig"]
	path = modules/LandR_BiomassGMOrig
	url = git@github.com:eliotmcintire/LandR_BiomassGMOrig.git
        branch = development
[submodule "modules/Biomass_regeneration"]
	path = modules/Biomass_regeneration
	url = git@github.com:eliotmcintire/Biomass_regeneration.git
        branch = development
[submodule "modules/LBMR"]
	path = modules/LBMR
	url = git@github.com:eliotmcintire/LBMR.git
        branch = development
[submodule "modules/fireSense_NWT_DataPrep"]
	path = modules/fireSense_NWT_DataPrep
	url = git@github.com:ygc2l/fireSense_NWT_DataPrep.git
        branch = master
[submodule "modules/Boreal_LBMRDataPrep"]
	path = modules/Boreal_LBMRDataPrep
	url = git@github.com:eliotmcintire/Boreal_LBMRDataPrep.git
        branch = development
[submodule "modules/scfm"]
	path = modules/scfm
	url = git@github.com:eliotmcintire/scfm.git
        branch = development
[submodule "modules/caribouPopGrowthModel"]
	path = modules/caribouPopGrowthModel
	url = git@github.com:tati-micheletti/caribouPopGrowthModel.git
        branch = master
[submodule "modules/birdsNWT"]
	path = modules/birdsNWT
	url = git@github.com:tati-micheletti/birdsNWT.git
	branch = master
[submodule "modules/caribouRSF"]
	path = modules/caribouRSF
	url = git@github.com:tati-micheletti/caribouRSF.git
[submodule "modules/gmcsDataPrep"]
	path = modules/gmcsDataPrep
	url = git@github.com:ianmseddy/gmcsDataPrep.git
[submodule "modules/PSP_Clean"]
	path = modules/PSP_Clean
	url = git@github.com:ianmseddy/PSP_Clean.git
[submodule "modules/climate_NWT_DataPrep"]
	path = modules/climate_NWT_DataPrep
	url = git@github.com:ygc2l/climate_NWT_DataPrep.git
[submodule "modules/MDC_NWT_DataPrep"]
	path = modules/MDC_NWT_DataPrep
	url = git@github.com:ygc2l/MDC_NWT_DataPrep.git
[submodule "modules/fireSense_FrequencyPredict"]
	path = modules/fireSense_FrequencyPredict
	url = git@github.com:ygc2l/fireSense_FrequencyPredict.git
[submodule "modules/fireSense_EscapePredict"]
	path = modules/fireSense_EscapePredict
	url = git@github.com:ygc2l/fireSense_EscapePredict.git
[submodule "modules/LBMR2LCC_DataPrep"]
	path = modules/LBMR2LCC_DataPrep
	url = git@github.com:ygc2l/LBMR2LCC_DataPrep.git
[submodule "modules/fireSense_NWT"]
	path = modules/fireSense_NWT
	url = git@github.com:ygc2l/fireSense_NWT.git
[submodule "modules/comm_metricsNWT"]
	path = modules/comm_metricsNWT
	url = git@github.com:araymund83/comm_metricsNWT.git
