.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
.Rproj.user
tmp/
/tmp/
!/temp/
./cache/
./inputs/*.*
./outputs/*.*
!/inputs/BCR6.*
!/inputs/bcr6.*
!ModelStructure_2.jpg
!modules/Boreal_LBMRDataPrep/data/RTM.tif
./modules/Boreal_LBMRDataPrep/data/*
./.git
