.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
.Rproj.user
tmp/
/tmp/
!/temp/
./cache/
./modules/LBMR/data/
./modules/waterlandClassification/data/
./modules/LandR_BiomassGMOrig/data/
./modules/Boreal_LBMRDataPrep/data/
./modules/Biomass_regeneration/data/
./modules/birdsNWT/data/models/
/modules/birdsNWT/data/models/*.R
./inputs/
./outputs/
./inputs/*.*
./outputs/*.*
!/inputs/BCR6.*
!/inputs/bcr6.*
!ModelStructure_2.jpg
!modules/Boreal_LBMRDataPrep/data/RTM.tif
*.gdbtable
*.zip
!CHEKCSUMS.txt
./modules/Boreal_LBMRDataPrep/data/*
./.git
